<!DOCTYPE html>
<html>
  <head>
    <title>LoginHtml.html</title>
	<meta charset="UTF-8">
 <!--    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8"> -->
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
   	<form>
		用户：
		<input type="text" name="user"/>
		<br />
		密码：
		<input type="password" name="password"/>
		<br />
		<input type="button" value="登陆"/>
	</form>
  </body>
</html>
